@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
    /* text-transform: uppercase; */
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

.menu{
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    /* display: flex; */
    align-items: center;
}

.menu .wrapper a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    text-align: center;
    color:var(--light-color);
}

.menu .wrapper a.active,
.menu .wrapper a:hover{
    color:#fff;
    background: var(--green);
}

.main-content{
    margin: 1% 0 ;
    background-color: #f1f2f6 ;
}
.col-4{
    width: 20%;
    background-color: rgb(136, 129, 129);
    margin: 1%;
    margin-left: 3.5%;
    padding: 2%;
    float: left;
}

/* css bang */
.tb{
    width: 100% ;
}
.tb-1{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black ;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}

/* css đăng nhập */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}